img {
    
        text-align: center;
        width: 200px;
    }
    
        p {
            font-family: Arial, sans-serif;
            font-size: 20px;
    
    }
    h3{
    
            font-size: 35px;
    
    
          
    }
    h4{
    
    
            font-size: 35px;
    
    }
    #lak{
            width: 50%    
            
    }
    #imgcc{
            display: block;
            text-align: center;
            width: 1000px;
    }
    #imgao{
            font-size: 30px;
    }
    hr{
            width: 50%;
            font-size: 50px;
    }
    
    #img_top{
            text-align: center;
            width:  800PX;
    }
    #ssimg{
            width: 250px;
    }
    #caleak_atchan{
            text-align: center;
            width: 200px;
    }
    #codeat{
            width: 100px;
    }
    #ssd{
            color: green;
    }
    #ssf{
            color: red;
    }
#ph565{
        width: 300px;
}
#a565{
        font-size: 50px;
}
#ve565{
        width: 555px;
}
#ph566{
        width: 300px;
}
#ve566{
        width: 555px;
}
#GHAZA_IMG{
        width: 40%;
}
#photo_halal_red_eygept{
        width: 500px;
}